<% content_for :head do %>
  <title><%= @user.name %> - monolist </title>
  <meta name="description" content="<%= @user.name %>が欲しい物・持ってる物を表示しています">
<% end %>

<%= render 'profile' , user: @user %>


<%= render 'items/list' , items: @items %>